vpn {
    ipsec {
        auto-firewall-nat-exclude enable
        ipsec-interfaces {
            interface eth0
        }
        nat-networks {
            allowed-network 0.0.0.0/0 {
            }
        }
        nat-traversal enable
    }
    l2tp {
        remote-access {
            authentication {
                local-users {
                    username MyUser {
                        password SuperSecretPassword
                    }
                }
                mode local
            }
            client-ip-pool {
                start 192.168.13.34
                stop 192.168.13.62
            }
            dhcp-interface eth0
            dns-servers {
                server-1 192.168.10.1
            }
            ipsec-settings {
                authentication {
                    mode pre-shared-secret
                    pre-shared-secret SuperSecretPreSharedKey
                }
                ike-lifetime 3600
            }
            mtu 1452
        }
    }
